/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* universal selector */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }

    h3{
        font-weight: 400;
        font-size: 1.65rem;
        margin-bottom: 2.5rem;
    }
    
    .header{
        background-image: url(/00-labs/html/lab-css-recipes-clone-master/apple-pie/images/apple-pie.jpg);
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
   header h1{
        color: white;
        font-size: 6em;
        text-align: center;
        font-weight: 100;
        display:flex;
        justify-content: center;
    }

    /* sections */
    main {
        padding: 4rem;
    }


    /* asi comentamos a todas las imagenes del main */

    main img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
     main section{
        padding: 2rem 0;
     }
    /* section 1 */

    .section-1{
        padding: 75px 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    
    .section-1 p{
     font-weight: 100;
     font-size: 1.5rem;
     line-height: 2rem;
     margin: 0 0 5% 0;
     text-align: center;
     width: 75%;
    }
    
    /* .image-recipe-info{
        margin: 30px auto 50px auto;
        border-bottom: 2px solid gray;
        width: 75%;
        display: flex;
        justify-content: center;
    } */

    .image-recipe-info {
        width: 75%;
        border-bottom: 2px solid #8b8b8b;
    }

    .image-recipe-info img{
        width: 60%;
        margin-bottom: 3vh;
    }

    /* section 2 */
    
    .section-2{
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* align-items:flex-start; */
        flex-direction: column;
        
    }

    .section-2 ul{
        /* margin-bottom: vh; */
    }

    
    /* asi cambiamos/adaptamos el "bulletpoint" */

    .section-2 li{
     list-style-type:"- ";
     margin: 0 0 1rem 2rem;
     font-weight: 200;
     font-size: 1.25rem;
     /* margin: 0 0 5% 0; */
     margin-bottom: 5%;
    }

    .image-cooking-info {
        /* width: 75%; */
        border-bottom: 2px solid #8b8b8b;
        /* align-content: center; */
    }

    .image-cooking-info img{
        width: 50%;
        margin-bottom: 3vh;
        margin-top: 1vh;
    }

    /* section 3 */

    .section-3{
        width: 75%;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* align-items:flex-start; */
        flex-direction: column;
    }

    .section-3 ol{
        list-style-type: none;
        margin: 0 0 3rem 2rem;
        counter-reset: section-3;

    }
/* junto con counter-rest:section-3 del ol i el counter-increment:section-3 del li se modifica el numerador del listado */
    .section-3 ol li::before{
        content: counter(section-3) ") ";
        counter-increment: section-3;
    }

    .section-3 li{
        font-size:1.25rem;
        font-weight: 300;
        margin: 1rem 0;
        line-height: 24px;
    }
    footer{
        background-color: rgb(54, 70, 25);
        color: white;
        text-align: center;
        padding: 10px;
        
    }
    
    footer i{
        color: white;
        margin: 5px;
    }

    